<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <pluginGroups>
    <!-- 关键！让 Maven 知道去 org.springframework.boot 下找插件 -->
    <pluginGroup>org.springframework.boot</pluginGroup>
  </pluginGroups>

</settings>
